:root{
    --primary-color: #627ea6;
    --second-color: #55d3d2;
    --third-color: #ffc505;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    /*background-color: #ffffff;*/
    background: linear-gradient(to right, var(--second-color) 50%, white 50%);
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    color: white;
    font-family: 'roboto' , sans-serif;
}

.logo{
    font-size: 20px;
    
}
header span{
    color: var(--third-color);
}
header h2{
    display: flex;
}