@media(max-width: 768px){
    li{
        padding: 25px 75px 25px 75px;
    }
}

@media(max-width: 425px){
    main{
        text-align: left;
    }
    main button {
        margin-bottom: 50px;
    }

    main div{
        flex-wrap: wrap;
    }

    main div #div-hair{
        margin-bottom: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .lists{
        display: flex;
        flex-direction: column;
    }

    li{
        margin: 10px;
        padding: 25px 150px 25px 150px;
    }

    .li1{
        padding: 25px 156px 25px 156px;

    }

    .btn{
        width: 250px;
    }

    .modal{
        height: 120vh;
    }
    
}

@media(max-width: 375px){
    li{
        margin: 10px;
        padding: 25px 130px 25px 130px;
    }

    .li1{
        padding: 25px 136px 25px 136px;
    }
}

@media(max-width: 320px){
    li{
        margin: 10px;
        padding: 25px 110px 25px 110px;
    }

    .li1{
        padding: 25px 116px 25px 116px;
    }
}