@media(max-width: 425px){
    main{
        text-align: left;
    }
    main button {
        margin-bottom: 50px;
    }

    main div{
        flex-wrap: wrap;
    }

    main div #div-hair{
        margin-bottom: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }

}